* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(145deg, #c165dd, #5c27fe);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  flex-wrap: wrap;
}

.square {
  width: 16px;
  height: 16px;
  background: #ffffff;
  margin: 1px;
  box-shadow: 0 0 2px #929191;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}